.ghe { /*ghế thường*/
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(123,122,123);
    color: #fff;
  
  }
  
  .gheDaDat {
    background-color: rgb(182, 65, 56);
    cursor: no-drop;
  }
  
  .gheDangDat {
    background-color: rgb(35, 189, 61) !important;
  }
  
  .gheVip {
    background-color: rgb(247, 184, 12);
  }

  .gheMinhDat {
    background-color: rgb(254, 255, 255);
    color: orange;
    border: 1px solid orange;
    box-shadow: 1px 27px 45px 1px rgba(31,2,2,0.47);
    -webkit-box-shadow: 1px 27px 45px 1px rgba(31,2,2,0.47);
    -moz-box-shadow: 1px 27px 45px 1px rgba(31,2,2,0.47);
  }
